@model Bike
@{
    ViewData["Title"] = "Delete bike";
}

<h1>Delete bike</h1>

<h3>Are you sure you want to remove @Model.Name?</h3>

<dl class="row">
    <dt class="col-sm-3">Manufacturer</dt>
    <dd class="col-sm-9">@Model.Manufacturer</dd>
    <dt class="col-sm-3">Model</dt>
    <dd class="col-sm-9">@Model.Model</dd>
    <dt class="col-sm-3">Year</dt>
    <dd class="col-sm-9">@Model.Year</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Cancel</a>
</form>
